/* styles/CustomButton.module.css */
.button {
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.circle {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: var(--mouse-y);
  left: var(--mouse-x);
  top: var(--mouse-y);
  right: var(--mouse-x);
  width: 200%;
  height: 200%;
  background-color: blue;
  border-color: blue;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.8s ease-in-out;
}

.button:hover .circle {
  transform: translate(-50%, -50%) scale(10);
}
